/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Other global styles can go here */
body { 
    font-family: 'Inter', sans-serif;
    background-color: #f7f9fb;
    color: #191c1e;
}